.btn {
  padding: 10px 30px;
  border: none;
  border-radius: 3px;
  cursor: pointer;

  background-color: $default;
  color: $white;

  text-transform: uppercase;
  font-size: small;

  transition: all .2s ease-in-out;

  &--disabled {
    background-color: $disabled;
    color: $gray-600;

    cursor: default;
  }

  &--primary {
    background-color: $primary;
  }

  &--success {
    background-color: $success;
  }

  &--danger {
    background-color: $danger;
  }
}
