.table-list {
  &__header {
    text-align: left;
    padding-bottom: 5px;
  }

  &__button {
    margin: 3px 5px 3px 0;

    &:last-child {
      margin-right: 0;
    }
  }

  &__row {
    border-bottom: 1px solid $black;

    &:last-child {
      border-bottom: 0;
    }
  }

  &__data {
    padding-right: 10px;

    &:last-child {
      padding-right: 0;
    }
  }
}
