.header {
  padding: 5px 30px;
  background-color: $bg-header;

  color: $color-header;

  display: flex;
  justify-content: space-between;
  align-items: center;


  height: 60px;

  &__logo {
    max-width: auto;
    height: 100%;
  }

  &__hamburger {
    @include media($md) {
      display: none;
    }
  }

  &__logout {
    display: none;
    @include media($md) {
      display: block;
    }
  }
}
