.login {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;

  @include media($md) {
    padding-top: 50px;
    align-items: flex-start;
  }

  &__container {
    width: 100%;
    padding: 10px;
    padding-top: 30px;

    @include media($md) {
      width: 400px;
      padding-top: 10px;
      border-radius: 5px;
    }
  }
}
