// default Colors.
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$green: rgb(113, 165, 64);
$red: rgb(208, 2, 27);
$blue: rgb(48, 51, 211);

// Color theme
$black: #222831;
$grey: #393e46;
$blue: #00adb5;
$white: #eeeeee;

// Descriptive colors.
$primary: $blue;

$color-light: $white;
$color-dark: $black;
$color-text-default: $black;
$color-title-default: $black;
$color-action: $green;
$color-valid: $green;
$color-error: $red;
