.text-field {
  width: 100%;
  display: inline-block;
  border: none;
  border-bottom: 1px solid $black;
  border-radius: 1px;
  background-color: $white;

  padding: 5px;

  &__container {
    @include spacing(margin-bottom);
  }

  &__label {
    font-size: $label-size;
    font-weight: $label-weight;
  }
}
